:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", serif;
}

body{
  margin: 0;
  padding: 8rem;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./images/bg-marvel.png') center/cover no-repeat;
  opacity: 0.8;
  filter: blur(3px); 
  z-index: -1;
  
}

.logo{
  display: inline-block;
  margin-bottom: 3rem;
}

.logo img{
  height: 7rem;
  width: auto;
}

.search{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 250px;
  height: 2rem;
  background: gray;
  opacity: 0.5;
  padding: 0.3rem 1rem;
  margin-bottom: 2rem;
  gap: 0.5rem; 
}

.search input{
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  min-width: 0;
  flex-grow: 1;
}

.search input::placeholder {
  color: white;
}

.search input:focus {
  outline: none;
}

.search i {
  color: white;
  flex-shrink: 0;
}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-name{
  position: relative;
}

/* .hero-name::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
} */

.hero-info p{
  color: rgb(255, 255, 255);
}

.hero{
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  position: relative;
}

.hero img{
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.hero:hover img{
  transform: scale(1.05); 
}

.hero p{
  text-align: center;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, transparent 10px, gray 0);
  border-top: 2px solid red;
  overflow: hidden;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hero p::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(-45deg, transparent 10px, red 0);
  z-index: -10;
  overflow: hidden;
  transition: height 0.1s ease;
}

.hero:hover p::before{
  height: 100%;
}

.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .row{
    flex-direction: column-reverse;
  }

  body{
    padding: 4rem;
  }
  
}

@media (max-width: 540px) {
  body{
    padding: 2rem;
  }
  
}