:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  padding: 8rem;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./images/bg-marvel.png') center/cover no-repeat;
  opacity: 0.8;
  filter: blur(3px); 
  z-index: -1;
}

.logo{
  display: inline-block;
  margin-bottom: 3rem;
}

.logo img{
  height: 7rem;
  width: auto;
}

.search{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 250px;
  height: 2rem;
  background: gray;
  opacity: 0.5;
  padding: 0.3rem 1rem;
  margin-bottom: 2rem;
  gap: 0.5rem; 
}

.search input{
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  min-width: 0;
  flex-grow: 1;
}

.search input::placeholder {
  color: white;
}

.search input:focus {
  outline: none;
}

.search i {
  color: white;
  flex-shrink: 0;
}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-info p{
  color: white;
}

.hero img{
  width: 200px;
}

.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}